// ============================================================================
// Chatbot Main - Message - Content - Code Block
// ============================================================================
.pf-chatbot__message-code-block {
  // display: flex;
  // flex-direction: column;
  // max-width: 100%;
  background-color: rgb(40, 44, 52); // match syntax highlighting
  border-radius: 6px;
  color: white;
  
  .pf-v6-c-code-block {
    // display: flex;
    // flex-direction: column;
    background-color: inherit;
  }

  .pf-v6-c-code-block__header {
    --pf-v6-c-code-block__header--PaddingBlockStart: var(--pf-t--global--spacer--200);
    --pf-v6-c-code-block__header--PaddingBlockEnd: var(--pf-t--global--spacer--200);
    --pf-v6-c-code-block__header--PaddingInlineStart: var(--pf-t--global--spacer--300);
    --pf-v6-c-code-block__header--PaddingInlineEnd: var(--pf-t--global--spacer--300);
    color: white;

    .pf-v6-c-code-block__actions {
      width: 100%;
    }
    
    .pf-v6-c-code-block__actions-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: var(--pf-t--global--font--size--sm);
      font-weight: 500;
    }

    .pf-v6-c-button__icon { color: white; }
  }

  .pf-v6-c-code-block__content {
    --pf-v6-c-code-block__content--PaddingBlockStart: var(--pf-t--global--spacer--300);
    --pf-v6-c-code-block__content--PaddingBlockEnd: var(--pf-t--global--spacer--300);
    --pf-v6-c-code-block__content--PaddingInlineStart: var(--pf-t--global--spacer--300);
    --pf-v6-c-code-block__content--PaddingInlineEnd: var(--pf-t--global--spacer--300);
    font-size: var(--pf-t--global--font--size--sm);
  
    pre, pre:hover {
      white-space: pre-wrap;
      word-break: break-all;
    }
    pre code {
      display: block;
      overflow-x: auto;
      font-size: var(--pf-t--global--font--size--sm);
    }

    .pf-v6-c-code-block__code > div { padding: 0 !important; }
  }

}