// ============================================================================
// Chatbot Messages
// ============================================================================
.pf-chatbot__messages {
  display: flex;
  flex-direction: column;
  gap: var(--pf-t--global--spacer--600);
}