// ============================================================================
// Chatbot Messages
// ============================================================================
.pf-chatbot__messages {
  height: 100%;
  padding: 0;
  overflow-y: auto;

  &-overflow {
    display: flex;
    flex-direction: column;
    gap: var(--pf-t--global--spacer--600);
    height: 100%;
    padding-top: var(--pf-t--global--spacer--400);
    padding-bottom: var(--pf-t--global--spacer--400);
  }
}