// ============================================================================
// Chatbot Popover
// ============================================================================
.pf-chatbot__popover {

  .pf-v6-c-popover__arrow { display: none; }

  // Footnote popover
  &--footnote.pf-chatbot__popover {
    --pf-t--chatbot--footnote--popover--desc--color: var(--pf-t--color--gray--70);

    .pf-v6-c-popover__close { display: none; }
    .pf-v6-c-popover__body { padding-inline-end: 0; }
    .pf-v6-c-popover__footer {
      display: flex;
      align-items: center;
      gap: var(--pf-t--global--spacer--200);
    }

    // Contents
    img { border-radius: var(--pf-t--global--border--radius--small); }
    .pf-v6-c-content--h3 { font-weight: 500; }
    .pf-v6-c-content--p { color: var(--pf-t--chatbot--footnote--popover--desc--color); font-size: var(--pf-t--global--font--size--body--lg); }

    // Actions
    .pf-v6-c-button {
      font-weight: 500;
      font-size: var(--pf-t--global--font--size--body--lg);
    }
    .pf-v6-c-content--a {
      font-size: var(--pf-t--global--font--size--body--lg);
    }
  }

}


// ============================================================================
// Chatbot Dark Theme
// ============================================================================
.pf-v6-theme-dark {

  .pf-chatbot__popover {
    
    // Footnote popover
    &--footnote.pf-chatbot__popover {
      --pf-t--chatbot--footnote--popover--desc--color: var(--pf-t--color--gray--30);
    }

  }

}