// ============================================================================
// Chatbot Header - Menu
// ============================================================================
.pf-chatbot__menu.pf-v6-c-drawer {
  --pf-v6-c-drawer__panel--MinWidth: 384px;
  --pf-v6-c-drawer__panel--xl--MinWidth: 384px;

  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: calc(var(--pf-t--global--z-index--600) * 2);

  &.pf-m-expanded { pointer-events: auto; }
}


// ============================================================================
// Chatbot Display Mode - Fullscreen
// ============================================================================
.pf-chatbot--fullscreen {
  .pf-chatbot__menu.pf-v6-c-panel {
    --pf-v6-c-panel__header--PaddingBlockStart: var(--pf-t--global--spacer--400);
    --pf-v6-c-panel__header--PaddingBlockEnd: var(--pf-t--global--spacer--400);
    --pf-v6-c-panel__main-body--PaddingBlockStart: var(--pf-t--global--spacer--400);
    --pf-v6-c-panel__main-body--PaddingBlockEnd: var(--pf-t--global--spacer--400);

    .pf-v6-c-panel__main {
      max-height: 100%;
    }

    .pf-v6-c-nav {
      --pf-v6-c-nav--PaddingBlockStart: 0;
      --pf-v6-c-nav--PaddingBlockEnd: 0;
      --pf-v6-c-nav--PaddingInlineStart: 0;
      --pf-v6-c-nav--PaddingInlineEnd: 0;
    }

    .pf-v6-c-nav__section-title {
      --pf-v6-c-nav__section-title--PaddingInlineStart: var(--pf-t--global--spacer--200);
      --pf-v6-c-nav__section-title--PaddingInlineEnd: 0;
      --pf-v6-c-nav__section-title--Color: var(--pf-t--color--gray--50);
    }

    .pf-v6-c-nav__link {
      --pf-v6-c-nav__link--PaddingBlockStart: var(--pf-t--global--spacer--200);
      --pf-v6-c-nav__link--PaddingBlockEnd: var(--pf-t--global--spacer--200);
      --pf-v6-c-nav__link--PaddingInlineStart: var(--pf-t--global--spacer--200);
      --pf-v6-c-nav__link--PaddingInlineEnd: var(--pf-t--global--spacer--200);
      --pf-v6-c-nav__link--BorderRadius: var(--pf-t--global--border--radius--pill);
      --pf-v6-c-nav__link--FontWeight: 500;

      font-family: var(--pf-t--chatbot--heading--font-family);

      &:hover, &:focus {
        --pf-v6-c-nav__link--hover--BackgroundColor: var(--pf-t--color--gray--10);
      }

      &.pf-m-current {
        --pf-v6-c-nav__link--m-current--BackgroundColor: var(--pf-t--color--gray--10);
        --pf-v6-c-nav__link--m-current--Color: var(--pf-t--color--black);
      }
    }

    .pf-v6-c-nav__link-text {
      display: flex;
      align-items: center;
      gap: var(--pf-t--global--spacer--200);
    }
  
  }
}


// ============================================================================
// Chatbot Dark Theme
// ============================================================================
.pf-v6-theme-dark {

  .pf-chatbot--fullscreen {
    .pf-chatbot__menu.pf-v6-c-panel {
      --pf-v6-c-panel--BackgroundColor: var(--pf-t--color--gray--90);

      .pf-v6-c-nav__section-title {
        --pf-v6-c-nav__section-title--Color: var(--pf-t--color--gray--40);
      }

      .pf-v6-c-nav__link {
        &:hover, &:focus {
          --pf-v6-c-nav__link--hover--BackgroundColor: var(--pf-t--color--gray--80);
        }

        &.pf-m-current {
          --pf-v6-c-nav__link--m-current--BackgroundColor: var(--pf-t--color--gray--80);
          --pf-v6-c-nav__link--m-current--Color: var(--pf-t--color--white);
        }
      }
    
    }
  }

}