// ============================================================================
// Chatbot Header - Menu
// ============================================================================
.pf-chatbot__menu {
  .pf-v6-c-nav {
    --pf-v6-c-nav--PaddingBlockStart: 0;
    --pf-v6-c-nav--PaddingBlockEnd: 0;
    --pf-v6-c-nav--PaddingInlineStart: 0;
    --pf-v6-c-nav--PaddingInlineEnd: 0;
  }

  .pf-v6-c-nav__section-title {
    --pf-v6-c-nav__section-title--PaddingInlineStart: var(--pf-t--global--spacer--200);
    --pf-v6-c-nav__section-title--PaddingInlineEnd: 0;
    --pf-v6-c-nav__section-title--Color: var(--pf-t--color--gray--50);

    position: sticky;
    top: 0;
    background-color: var(--pf-v6-c-drawer__panel--BackgroundColor);
    z-index: var(--pf-t--global--z-index--xs);
  }

  .pf-v6-c-nav__link {
    --pf-v6-c-nav__link--PaddingBlockStart: var(--pf-t--global--spacer--200);
    --pf-v6-c-nav__link--PaddingBlockEnd: var(--pf-t--global--spacer--200);
    --pf-v6-c-nav__link--PaddingInlineStart: var(--pf-t--global--spacer--200);
    --pf-v6-c-nav__link--PaddingInlineEnd: var(--pf-t--global--spacer--200);
    --pf-v6-c-nav__link--FontWeight: 500;

    font-family: var(--pf-t--chatbot--heading--font-family);

    &:hover, &:focus {
      --pf-v6-c-nav__link--hover--BackgroundColor: var(--pf-t--color--gray--10);
    }

    &.pf-m-current {
      --pf-v6-c-nav__link--m-current--BackgroundColor: var(--pf-t--color--gray--10);
      --pf-v6-c-nav__link--m-current--Color: var(--pf-t--color--black);
    }
  }

  .pf-v6-c-nav__link-text {
    display: flex;
    align-items: center;
    gap: var(--pf-t--global--spacer--200);
  }
}


// Chatbot Header - Menu (Drawer)
// ----------------------------------------------------------------------------
.pf-chatbot__menu.pf-v6-c-drawer {
  --pf-v6-c-drawer__panel--MinWidth: 384px;
  --pf-v6-c-drawer__panel--xl--MinWidth: 384px;

  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: calc(var(--pf-t--global--z-index--600) * 2);

  // Expanded drawer
  &.pf-m-expanded { pointer-events: auto; }

  // Drawer panel
  .pf-v6-c-drawer__panel {
    --pf-v6-c-drawer__panel--PaddingBlockStart: var(--pf-t--global--spacer--400);
    --pf-v6-c-drawer__panel--PaddingBlockEnd: var(--pf-t--global--spacer--400);
    --pf-v6-c-drawer__panel--RowGap: var(--pf-t--global--spacer--400);

    overflow: hidden;
  }

  // Drawer head
  .pf-v6-c-drawer__head {
    --pf-v6-c-drawer__head--PaddingBlockStart: 0;
    --pf-v6-c-drawer__head--PaddingBlockEnd: 0;
    --pf-v6-c-drawer__head--PaddingInlineStart: var(--pf-t--global--spacer--400);
    --pf-v6-c-drawer__head--PaddingInlineEnd: var(--pf-t--global--spacer--400);

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
  }

  // Drawer actions
  .pf-v6-c-drawer__actions {
    --pf-v6-c-drawer__actions--MarginBlockStart: 0;
    --pf-v6-c-drawer__actions--MarginInlineEnd: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    height: 100%;
  }

  // Close drawer
  .pf-v6-c-drawer__close {
    .pf-v6-c-button {
      width: 48px;
      height: 48px;
      border-radius: var(--pf-t--global--border--radius--pill);
    }
  }

  // Drawer body
  .pf-v6-c-drawer__body {
    --pf-v6-c-drawer__panel__body--PaddingBlockStart: 0;
    --pf-v6-c-drawer__panel__body--PaddingBlockEnd: 0;
    --pf-v6-c-drawer__panel__body--PaddingInlineStart: var(--pf-t--global--spacer--400);
    --pf-v6-c-drawer__panel__body--PaddingInlineEnd: var(--pf-t--global--spacer--400);
    
    overflow-y: auto;
  }
}


// ============================================================================
// Chatbot Display Mode - Fullscreen
// ============================================================================
.pf-chatbot--fullscreen {
  .pf-chatbot__menu.pf-v6-c-drawer {
    --pf-v6-c-drawer__panel--MinWidth: 0;
    --pf-v6-c-drawer__panel--xl--MinWidth: 0;
    position: static;
    width: 0;

    &.pf-m-expanded {
      width: 384px;
    }

    .pf-v6-c-drawer__panel {
      // transition: none;

      &::after {
        --pf-v6-c-drawer--m-inline--m-expanded__panel--after--BackgroundColor: var(--pf-t--color--gray--10);
      }
    }
  }
}


// ============================================================================
// Chatbot Display Mode - Embedded
// ============================================================================
@media screen and (min-width: 1024px) {
  .pf-chatbot--embedded {
    .pf-chatbot__menu.pf-v6-c-drawer {
      --pf-v6-c-drawer__panel--MinWidth: 0;
      --pf-v6-c-drawer__panel--xl--MinWidth: 0;
      position: static;
      width: 0;
  
      &.pf-m-expanded {
        width: 384px;
      }
  
      .pf-v6-c-drawer__panel {
        // transition: none;
  
        &::after {
          --pf-v6-c-drawer--m-inline--m-expanded__panel--after--BackgroundColor: var(--pf-t--color--gray--10);
        }
      }
    }
  }
}


// ============================================================================
// Chatbot Dark Theme
// ============================================================================
.pf-v6-theme-dark {

  .pf-chatbot__menu {
    .pf-v6-c-nav__section-title {
      --pf-v6-c-nav__section-title--Color: var(--pf-t--color--gray--40);
    }

    .pf-v6-c-nav__link {
      &:hover, &:focus {
        --pf-v6-c-nav__link--hover--BackgroundColor: var(--pf-t--color--gray--70);
      }

      &.pf-m-current {
        --pf-v6-c-nav__link--m-current--BackgroundColor: var(--pf-t--color--gray--70);
        --pf-v6-c-nav__link--m-current--Color: var(--pf-t--color--white);
      }
    }
  }

  .pf-chatbot--fullscreen {
    .pf-chatbot__menu.pf-v6-c-drawer {  
      .pf-v6-c-drawer__panel {
        --pf-v6-c-drawer__panel--BackgroundColor: var(--pf-t--color--gray--90);
        &::after {
          --pf-v6-c-drawer--m-inline--m-expanded__panel--after--BackgroundColor: var(--pf-t--color--gray--95);
        }
      }
    }
  }

}