// ============================================================================
// Chatbot Footer
// ============================================================================
.pf-chatbot__footer {
  grid-area: 3 / 1 / 4 / 2;
  position: relative;
  padding: 24px;
  background-color: var(--pf-t--chatbot--background);

  // Divider
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: calc(100% - 48px);
    height: 1px;
    background-color: var(--pf-t--chatbot--border);
    transform: translateX(-50%);
  }
}