// Demo purposes only
body { background-color: var(--pf-t--global--background--color--primary--default); }





// ============================================================================
// Chatbot Button
// ============================================================================








// ============================================================================
// Chatbot Pagination (Dots)
// ============================================================================
.pf-v6-c-pagination--dots {

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  li {}

}





