body { background-color: var(--pf-t--global--background--color--primary--default); }


// ============================================================================
// Chatbot Window: Header, Main, Footer
// ============================================================================
.pf-chatbot {
  --pf-t--chatbot--background: var(--pf-t--color--gray--10);

  position: fixed;
  bottom: 96px;
  right: 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 480px;
  height: 75vh; // TODO change
  background-color: var(--pf-t--chatbot--background);
  border-radius: var(--pf-t--global--border--radius--medium);
  box-shadow: 0 1px 2px rgba(0,0,0, .12);
  overflow: hidden;

  // --------------------------------------------------------------------------
  // Chatbot Header
  // --------------------------------------------------------------------------
  &__header {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    padding: 24px;
    background-color: var(--pf-t--chatbot--background);

    // Divider
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      width: calc(100% - 48px);
      height: 1px;
      background-color: #ccc;
      transform: translateX(-50%);
    }

    // Title -or- Brand
    .pf-chatbot__title {
      grid-area: 1 / 2 / 2 / 3;
      align-self: center;
      justify-self: center;
      margin: 0;
      
      h1 {
        color: var(--pf-t--color--black);
        font-weight: 600;
        font-size: var(--pf-t--global--font--size--400);
      }

      
    }

    // Toggle Menu
    .pf-chatbot__button--toggle-menu { grid-area: 1 / 1 / 2 / 2; }

    // Toggle Options
    .pf-chatbot__button--toggle-options { grid-area: 1 / 3 / 2 / 4; }
  }

  // --------------------------------------------------------------------------
  // Chatbot Main
  // --------------------------------------------------------------------------
  &__main {
    grid-area: 2 / 1 / 3 / 2;
    padding: 24px;
    overflow-y: auto;
  }

  // --------------------------------------------------------------------------
  // Chatbot Footer
  // --------------------------------------------------------------------------
  &__footer {
    grid-area: 3 / 1 / 4 / 2;
    position: relative;
    padding: 24px;
    background-color: var(--pf-t--chatbot--background);

    // Divider
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: calc(100% - 48px);
      height: 1px;
      background-color: #ccc;
      transform: translateX(-50%);
    }
  }

}


// ============================================================================
// Chatbot Button
// ============================================================================
.pf-chatbot__button {

  // --------------------------------------------------------------------------
  // Toggle Chatbot
  // --------------------------------------------------------------------------
  &--toggle-chatbot {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    background: black;
    border: 0;
    border-radius: var(--pf-t--global--border--radius--pill);
    color: white;

    &:hover, &:focus {}
    &:active {}

    &--active {}
  }


  // --------------------------------------------------------------------------
  // Toggle Menu
  // --------------------------------------------------------------------------
  &--toggle-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: var(--pf-t--global--border--radius--pill);
  }


  // --------------------------------------------------------------------------
  // Toggle Options
  // --------------------------------------------------------------------------
  &--toggle-options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 999px;
  }

}


// ============================================================================
// Chatbot Tooltip
// ============================================================================
.pf-chatbot__tooltip {}
.pf-chatbot__tooltip .pf-v6-c-tooltip__arrow { display: none; }
.pf-chatbot__tooltip .pf-v6-c-tooltip__content {
  padding: var(--pf-t--global--spacer--100) var(--pf-t--global--spacer--200);
  background-color: var(--pf-t--color--gray--60);
  border-radius: var(--pf-t--global--border--radius--tiny);
  font-family: var(--pf-v6-c-content--heading--FontFamily);
  font-weight: 600;
  font-size: var(--pf-t--global--font--size--xs);
}



// ============================================================================
// Chatbot Display Mode - Docked
// ============================================================================
.pf-chatbot--docked {
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: 0;
}


// ============================================================================
// Chatbot Display Mode - Fullscreen
// ============================================================================
.pf-chatbot--fullscreen {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
}


// ============================================================================
// Chatbot Display Mode - Standalone
// ============================================================================
.pf-chatbot--embedded {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}



// ============================================================================
// Chatbot Dark Theme
// ============================================================================
.pf-v6-theme-dark {

  .pf-chatbot {
    --pf-t--chatbot--background: var(--pf-t--color--gray--95);
  }

  // ... dark style overrides ...

}