// ============================================================================
// Chatbot Main - Message - Content - Text
// ============================================================================

// Need to inline shorter text
.pf-chatbot__message-text {
  padding: var(--pf-t--chatbot-message--type--padding);
  background-color: var(--pf-t--chatbot-message--type--background--color--default);
  border-radius: var(--pf-t--chatbot-message--type--border--radius);

  p { display: inline-block; }

  code {
    background-color: var(--pf-t--chatbot--code--background);
    font-size: var(--pf-t--global--font--size--body--default);
  }
}