// ============================================================================
// Chatbot
// ============================================================================
.pf-chatbot {

  // Local design tokens
  --pf-t--chatbot--heading--font-family: var(--pf-v6-c-content--heading--FontFamily, redhatdisplayvf, redhatdisplay, helvetica, arial, sans-serif);
  --pf-t--chatbot--font-size: var(--pf-t--global--font--size--md);
  --pf-t--chatbot--background: var(--pf-t--color--gray--10);
  --pf-t--chatbot--border: var(--pf-t--color--gray--30);
  --pf-t--chatbot--illustration--fill: var(--pf-t--color--red--50);
  --pf-t--chatbot--code--background: var(--pf-t--color--gray--20);
  --pf-t--chatbot--icon--fill: var(--pf-t--color--gray--50);
  --pf-t--chatbot--icon--fill--hover: var(--pf-t--color--gray--70);
  --pf-t--chatbot--timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  --pf-t--chatbot--jump--background: var(--pf-t--chatbot--background);
  --pf-t--chatbot--jump--background--hover: var(--pf-t--color--white);

  position: fixed;
  bottom: 96px;
  right: 24px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 480px;
  height: 75vh; // TODO change
  background-color: var(--pf-t--chatbot--background);
  border-radius: var(--pf-t--global--border--radius--medium);
  box-shadow: 0 1px 2px rgba(0,0,0, .12);
  font-size: var(--pf-t--chatbot--font-size);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // transition: all var(--pf-t--chatbot--timing-function var(--pf-t--global--duration--300);

  // Hide chatbot
  &--hidden { pointer-events: none; }

  // Nested chatbot buttons
  .pf-v6-c-button { --pf-v6-c-button--AlignItems: center; }
}


// ============================================================================
// Chatbot Display Mode - Docked
// ============================================================================
html.pf-chatbot-allow--docked {
  padding-right: 480px;
}

.pf-chatbot--docked {
  bottom: 0;
  right: 0;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
}


// ============================================================================
// Chatbot Display Mode - Fullscreen
// ============================================================================
.pf-chatbot--fullscreen {
  bottom: 0;
  right: 0;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 96px 1fr auto;
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;

  &.pf-chatbot--layout--chat {
    .pf-chatbot__header { grid-area: 1 / 2 / 2 / 3; }
    .pf-chatbot__main { grid-area: 2 / 2 / 3 / 3; width: 960px; margin: 0 auto; }
    .pf-chatbot__footer { grid-area: 3 / 2 / 4 / 3; width: 960px; margin: 0 auto; }
  }

  // display grid (chat only? fullscreen for bootup screens...)
  // 3x3: header, main, footer
  //
  // .div1 { grid-area: 1 / 1 / 4 / 2; }
  // .div2 { grid-area: 1 / 2 / 2 / 3; }
  // .div3 { grid-area: 2 / 2 / 3 / 3; }
  // .div4 { grid-area: 3 / 2 / 4 / 3; }

}


// ============================================================================
// Chatbot Display Mode - Standalone
// ============================================================================
.pf-chatbot--embedded {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0;
}



// ============================================================================
// Chatbot Dark Theme
// ============================================================================
.pf-v6-theme-dark {

  .pf-chatbot {
    --pf-t--chatbot--background: var(--pf-t--color--gray--95);
    --pf-t--chatbot--border: var(--pf-t--color--gray--50);
    --pf-t--chatbot--illustration--fill: var(--pf-t--color--white);
    --pf-t--chatbot--code--background: var(--pf-t--color--gray--60);
    --pf-t--chatbot--icon--fill: var(--pf-t--color--gray--30);
    --pf-t--chatbot--icon--fill--hover: var(--pf-t--color--white);
    --pf-t--chatbot--jump--background--hover: var(--pf-t--color--black);
  }

}