// - PatternFly 6 import (application must already be using v6 or else it won't work)

// - Custom icons from FontAwesome (renders inline svg)
// import { FontAwesomeIcon } from '@fortawesome/react-fontawesome'
// import { ... } from '@fortawesome/free-solid-svg-icons'
// <FontAwesomeIcon icon={ ... } />

// - Design tokens
// - Core elements, overrides (PF6) (eg. tooltip)
// - Chatbot elements
// - Chatbot layouts
// - Chatbot overrides, if necessary

// Layouts:
// - Splash
// - Onboarding, New features
// - End-user license agreement
// - Settings
// - Secondary content template
// - Drag and drop zone (more of an overlay)
// - Preview attachment
// - Edit attachment
// - Chat conversation



// ============================================================================
// Design tokens
//
// Use fallback approach:
// var(--custom-prop, var(--fallback-value))
//
// Use PF recommended structure:
// --pf-t--v{X}--{scope}--{component}--{property}--{concept}--{variant}--{state}
//
// Note: hard code values until we can replace with global PF6 tokens
// ============================================================================
:root {
  --pf-t--v6--chatbot--global--background: #fff;
}

// Copy over color tokens
.pf-v6-theme-dark {
  --pf-t--v6--chatbot--global--background: #fff;
}


// ============================================================================
// Chatbot elements
// ============================================================================

// Backgrounds
// ----------------------------------------------------------------------------
.pf-chatbot {}


// Brands
// ----------------------------------------------------------------------------
.pf-chatbot {}


// Icons
// ----------------------------------------------------------------------------
.pf-chatbot-icon {} // override pf icon

// Buttons
// ----------------------------------------------------------------------------
.pf-chatbot-button {} // override pf button


// Tooltips
// ----------------------------------------------------------------------------
.pf-chatbot-tooltip {} // override pf tooltip


// Cursor (animated)
// ----------------------------------------------------------------------------
.pf-chatbot-cursor {}


// Pagination (dots): Used with onboarding screen
// ----------------------------------------------------------------------------
.pf-chatbot-pagination--dots {}


// Pagination (arrows): Used with sources
// ----------------------------------------------------------------------------
.pf-chatbot-pagination--arrows {}
.pf-chatbot-pagination--arrows .prev {}
.pf-chatbot-pagination--arrows .next {}
.pf-chatbot-pagination--arrows .meta {}


// ============================================================================
// Chatbot structure
// ============================================================================
.pf-chatbot {

  // grid for overlay, dock
  // custom layout for fullscreen?

  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  &__main {}

  &__footer {}

}

// Assume default is standalone/embedded
.pf-chatbot--display--overlay { max-width: 480px; border-radius: 16px; } // only mode with rounded corners
.pf-chatbot--display--dock { height: 100vh; border-radius: 0; }
.pf-chatbot--display--fullscreen { width: 100vw; height: 100vh; border-radius: 0; }


// Toggle buttons
.pf-chatbot__toggle {} // pf button


// Menu
.pf-chatbot-menu--primary {} // only fullscreen
.pf-chatbot-menu--secondary {}
.pf-chatbot-menu--secondary .cta {}
.pf-chatbot-menu--secondary .close {}
.pf-chatbot-menu--secondary .search {}
.pf-chatbot-menu--secondary .list {}
.pf-chatbot-menu--secondary .list__heading {}
.pf-chatbot-menu--secondary .list__item {}


// Options
.pf-chatbot-options {}


// System alerts
.pf-chatbot-alert {} // pf alert


// Message bar
.pf-chatbot-message-bar {}
.pf-chatbot-message-bar input {}
.pf-chatbot-message-bar .attach {}
.pf-chatbot-message-bar .speak {}
.pf-chatbot-message-bar .send {}


// Footnote
.pf-chatbot-footnote {}
.pf-chatbot-footnote-popover {} // change classname



// ============================================================================
// Splash screen
// ============================================================================
.pf-chatbot--splash {}

@media only screen and (min-width: 1024px) {}

.pf-chatbot--splash {}
.pf-chatbot--splash .brand {} // icon or logo (max height)
.pf-chatbot--splash .loading {}
.pf-chatbot--splash .background {}


// ============================================================================
// Onboarding + New features
// ============================================================================
.pf-chatbot--onboarding {}

.pf-chatbot--onboarding .skip {} // pf button
.pf-chatbot--onboarding .illustration {}
.pf-chatbot--onboarding .title {}
.pf-chatbot--onboarding .description {}
.pf-chatbot--onboarding .continue {} // pf button
.pf-chatbot--onboarding .background {} // only for fullscreen
// Also uses pagination dots


// ============================================================================
// EULA
// ============================================================================
.pf-chatbot--eula {}

.pf-chatbot--eula .illustration {}
.pf-chatbot--eula .title {}
.pf-chatbot--eula .description {}
.pf-chatbot--eula .continue {} // pf button
.pf-chatbot--eula .footnote {} // can support links
.pf-chatbot--eula .footnote a {}
.pf-chatbot--eula .background {} // only for fullscreen


// ============================================================================
// Chat conversation
// ============================================================================

// Conversation list, message, skip buttons
.pf-chatbot__conversation {} // vertical grid, spacer
.pf-chatbot__message {}


// Loading or processing message
//
// Guidelines:
// - Less than 1 second: Do nothing
// - Between 1-10 seconds: Use animated dots
// - More than 10 seconds: Add contextual label
.pf-chatbot__message--processing {}


// Skip buttons
.pf-chatbot__skip {}
.pf-chatbot__skip--start {}
.pf-chatbot__skip--end {}


// Message structure
.pf-chatbot-author__avatar {} // pf avatar
.pf-chatbot-author__name {}
.pf-chatbot-author__badge {} // pf badge (custom)
.pf-chatbot-time {} // pf timestamp
.pf-chatbot-message {}
.pf-chatbot-message__actions {}


// Message content types
.pf-chatbot-message p {}
.pf-chatbot-message ul {}
.pf-chatbot-message ol {}
.pf-chatbot-message table {}
.pf-chatbot-message img {}
.pf-chatbot-message video {} // needs video wrapper
.pf-chatbot-message .chart {} // needs pf component
.pf-chatbot-message pre {}
.pf-chatbot-message code {}


// Message sources (also uses pagination arrows)
.pf-chatbot-sources {}
.pf-chatbot-source {}
.pf-chatbot-source .title {}
.pf-chatbot-source .title a {}
.pf-chatbot-source .description {}


// Message response actions
.pf-chatbot-message-actions {}
.pf-chatbot-message-actions .quick-reply {} // pf label
.pf-chatbot-message-actions .quick-reply--stacked {} // pf label
.pf-chatbot-message-actions .quick-feedback--good {}
.pf-chatbot-message-actions .quick-feedback--bad {}
.pf-chatbot-message-actions .copy-message {}
.pf-chatbot-message-actions .share-message {}
.pf-chatbot-message-actions .listen {}


// Conversation separators
.pf-chatbot-separator {}
.pf-chatbot-separator--announcement {}
.pf-chatbot-separator--date {}


// ============================================================================
// Drop Zone - part of Chat conversation
// ============================================================================
.pf-chatbot-dropzone {}
.pf-chatbot-dropzone .icon {}
.pf-chatbot-dropzone .title {}
.pf-chatbot-dropzone .meta {}


// ============================================================================
// Preview/Edit Attachment - part of Chat conversation
// ============================================================================
.pf-chatbot-attachment-preview {}
.pf-chatbot-attachment-preview .title {}
.pf-chatbot-attachment-preview .close {}
.pf-chatbot-attachment-preview .object-icon {}
.pf-chatbot-attachment-preview .object-name {}
.pf-chatbot-attachment-preview .object-format {}
.pf-chatbot-attachment-preview .codeblock {} // override pf code block
.pf-chatbot-attachment-preview .code-editor {} // override pf code editor
.pf-chatbot-attachment-preview .button {} // pf button


// ============================================================================
// Custom screen
// ============================================================================
.pf-chatbot-page {} // structure only