// ============================================================================
// Chatbot Header
// ============================================================================
.pf-chatbot__header {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  align-items: center;
  justify-content: center;
  column-gap: var(--pf-t--global--spacer--400);
  padding: var(--pf-t--global--spacer--400);
  background-color: var(--pf-t--chatbot--background);

  // Divider
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: calc(100% - 48px);
    height: 1px;
    background-color: var(--pf-t--chatbot--border);
    transform: translateX(-50%);
  }

  // Title -or- Brand
  .pf-chatbot__title {
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    
    h1 {
      color: var(--pf-t--color--black);
      font-weight: 600;
      font-size: var(--pf-t--global--font--size--400);
    }    
  }

  // Toggle Menu
  .pf-v6-c-button.pf-chatbot__button--toggle-menu {
    --pf-v6-c-button--BorderRadius: var(--pf-t--global--border--radius--pill);
    grid-area: 1 / 1 / 2 / 2;
  }

  // Toggle Options
  .pf-v6-c-button.pf-chatbot__button--toggle-options {
    --pf-v6-c-button--BorderRadius: var(--pf-t--global--border--radius--pill);
    grid-area: 1 / 3 / 2 / 4;
  }
}