// ============================================================================
// Chatbot Message
// ============================================================================
.pf-chatbot__message {
  --pf-t--chatbot-message--type--background--color--default: rgba(224, 224, 224, .25); // --pf-t--color--gray--20 @ 25%
  --pf-t--chatbot-message--type--background--color--primary: var(--pf-t--color--blue--50);
  --pf-t--chatbot-message--type--padding: var(--pf-t--global--spacer--200);
  --pf-t--chatbot-message--type--text--color--default: var(--pf-t--color--black);
  --pf-t--chatbot-message--type--text--color--primary: var(--pf-t--color--white);
  --pf-t--chatbot-message--type--border--radius: var(--pf-t--global--border--radius--small);

  display: flex;
  align-items: flex-start;
  gap: var(--pf-t--global--spacer--400);

  .pf-v6-c-avatar {
    --pf-v6-c-avatar--Width: 48px;
    --pf-v6-c-avatar--Height: 48px;
    object-fit: cover;
  }

  &-contents {
    display: flex;
    flex-direction: column;
    gap: var(--pf-t--global--spacer--200);
  }

  &-meta {
    display: flex;
    align-items: flex-end;
    gap: var(--pf-t--global--spacer--200);

    span {
      font-family: var(--pf-t--chatbot--heading--font-family);
      font-weight: 600;
      font-size: var(--pf-t--global--font--size--200);
    }

    time {
      font-size: var(--pf-t--global--font--size--100);
    }
  }

  &-response {
    display: flex;
    flex-direction: column;
    gap: var(--pf-t--global--spacer--200);
    color: var(--pf-t--chatbot-message--type--text--color--default);
  }

}


// ============================================================================
// Chatbot Dark Theme
// ============================================================================
.pf-v6-theme-dark .pf-chatbot__message {
  --pf-t--chatbot-message--type--background--color--default: rgba(41, 41, 41, .5); // --pf-t--color--gray--80 @ 50%
  --pf-t--chatbot-message--type--text--color--default: var(--pf-t--color--white);
}