// ============================================================================
// Chatbot Main
// ============================================================================
.pf-chatbot__main {
  grid-area: 2 / 1 / 3 / 2;
  padding: var(--pf-t--global--spacer--400);
  background-color: var(--pf-t--chatbot--background);
  overflow-y: auto;
}