// ============================================================================
// Chatbot Main - Message - Content - List
// ============================================================================
.pf-chatbot__message-list {
  padding: var(--pf-t--chatbot-message--type--padding);
  background-color: var(--pf-t--chatbot-message--type--background--color--default);
  border-radius: var(--pf-t--chatbot-message--type--border--radius);
}