// ============================================================================
// Chatbot Layout - Chat
// ============================================================================
.pf-chatbot.pf-chatbot--layout--chat {

  .pf-chatbot__main {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pf-chatbot__messages-overflow {
    padding-top: var(--pf-t--global--spacer--400);
    padding-bottom: var(--pf-t--global--spacer--400);
  }

}


// ============================================================================
// Chatbot Display Mode - Fullscreen
// ============================================================================
.pf-chatbot.pf-chatbot--layout--chat.pf-chatbot--fullscreen {
  grid-template-columns: 320px 1fr;
  grid-template-rows: 96px 1fr auto;

  .pf-chatbot__header { grid-area: 1 / 2 / 2 / 3; }
  .pf-chatbot__main { grid-area: 2 / 2 / 3 / 3; width: 960px; margin: 0 auto; }
  .pf-chatbot__footer { grid-area: 3 / 2 / 4 / 3; width: 960px; margin: 0 auto; }
}