// ============================================================================
// Chatbot Layout - Chat
// ============================================================================
.pf-chatbot.pf-chatbot--layout--chat {

  .pf-chatbot__main {
    padding-top: 0;
    padding-bottom: 0;
  }

}


// ============================================================================
// Chatbot Display Mode - Fullscreen
// ============================================================================
.pf-chatbot.pf-chatbot--layout--chat.pf-chatbot--fullscreen {
  grid-template-columns: auto 1fr;
  grid-template-rows: 96px 1fr auto;

  // Menu
  .pf-chatbot__menu {
    grid-area: 1 / 1 / 4 / 2;
  }

  // Header
  .pf-chatbot__header { grid-area: 1 / 2 / 2 / 3; }

  // Main
  .pf-chatbot__main {
    grid-area: 2 / 2 / 3 / 3;
    width: min(60%, 960px);
    margin: 0 auto;
  }

  // Footer
  .pf-chatbot__footer {
    grid-area: 3 / 2 / 4 / 3;
    width: min(60%, 960px);
    margin: 0 auto;
  }
}